<template>
    <div class="commit">
        <div class="commit__line">
            <div class="commit__vl"/>
            <div class="commit__dot"/>
            <div class="commit__vl"/>
        </div>
        <div class="commit__info">
            <div class="commit__profile">
                <img class="commit__pic" :src="imgUrl" alt="profile pic">
                {{commit.author ? commit.author.login : 'Anonymous'}}
            </div>
            <div class="commit__details">
                {{commit.commit.author.date.slice(0, 10)}}
                {{commit.commit.message}}
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        commit: Object
    },

    computed: {
        imgUrl(){
            return this.commit.author && this.commit.author.avatar_url ? this.commit.author.avatar_url :
            'https://freight.cargo.site/t/original/i/980fe1c8dd7d86e5aff2dd6f3ae1a43ac66d131f2314c46c6baa1200f1d223c2/black-square.png'
        }
    }
}
</script>

<style lang="scss" scoped>

.commit {
  display: flex;
  align-items: flex-start;
  text-align: left;
  height: 94px;

  &__line {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

  }

  &__vl {
    height: 40px;
    width: 1px;
    margin: 0;
    background-color: black;
  }

  &__info {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
  }

  &__details {
      padding-right: 20px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 1000px;
  }

  &__profile {
      margin-bottom: 10px;
  }

  &__pic{
    max-width: 30px;
    border: 1px solid black;
    border-radius: 1000px;
  }
}

</style>