<template>
    <div class="counter">
        <img v-if="filePath" :src="filePath" alt="icon" class="counter__img" :style="cssVars">
        {{repo[repoCounterType]}}
    </div>
</template>

<script>
export default {
    props: {
        repo: Object,
        fileName: String,
        repoCounterType: String,
        size: Number
    },

    computed:{
        filePath(){
            return require(`@/core/assets/icons/${this.fileName}.svg`)
        },

        cssVars(){
            return {
                '--size': this.size + 'px'
            }
        }
    }
}
</script>

<style lang="scss" scoped>


.counter {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;

    &__img {
        max-width: var(--size);
        min-width: var(--size);
        margin-right: 5px;
    }
}

</style>