<template>
    <div class="repo">
        <div class="repo__header">
            <p>{{repo.name}}</p>
            <div class="repo__counters">
                <counter :repo="repo" fileName="star" repoCounterType="stargazers_count" :size="10"/>
                <counter :repo="repo" fileName="fork" repoCounterType="forks_count" :size="15"/>
            </div>
        </div>
        <repoBody :repo="repo"/>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import iRepo from '@/core/models/iRepo'
import counter from '../userRepositories/counter.vue'
import repoBody from '../userRepositories/repoBody.vue'

export default Vue.extend({
    components: {
        counter, repoBody
    },

    props: {
        repo: {
            type: Object as () => iRepo,
            default: {}
        }
    }
})
</script>

<style lang="scss" scoped>

.repo {
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    @media(min-width: 769px){
        width: calc(50% - 20px);
        margin: 10px;
    }

    @media(min-width: 1024px){
        width: calc(33% - 20px);
        margin: 10px;
    }

    @media(min-width: 1600px){
        width: calc(25% - 20px);
        margin: 10px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: 8px 20px;
    }

    &__counters {
        display: flex;
    }
}

</style>