<template>
    <div class="repobody">
        <div class="repobody__item repo__item--left">
            <p class="repobody__description">{{repo.description}}</p>
            <router-link class="repobody__link button" :to="`/user/${repo.owner.login}/repo/${repo.name}`">Commits</router-link>
        </div>
        <div class="repobody__item repo__item--right">
            <button class="repobody__link button" @click="copyUrl()">
                <img class="repobody__img" src="@/core/assets/icons/copy.svg" alt="copy">
            </button>
            <a class="repobody__link button" :href="repo.html_url" target="_blank">
                <img class="repobody__img" src="@/core/assets/icons/foreign.svg" alt="copy">
            </a>
        </div>
    </div>
</template>

<script lang="ts">
import iRepo from '@/core/models/iRepo';
import Vue from 'vue'

export default Vue.extend({
    props: {
        repo: {
            type: Object as () => iRepo,
            default: {}
        }
    },

    methods: {
        copyUrl() {
            const el = document.createElement('textarea');
            el.value = String(this.repo.clone_url);
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            const selected =  document.getSelection()!.rangeCount > 0  ? document.getSelection()!.getRangeAt(0) : false;
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            if (selected) {
                document.getSelection()!.removeAllRanges();
                document.getSelection()!.addRange(selected);
            }
            alert('git url copied!')
        }
    }
})
</script>

<style lang="scss">

.repobody {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 10px 20px !important;

    &__description {
        margin-bottom: 10px;
    }

    &__img {
        max-width: 15px;
        min-width: 15px;
    }

    &__link {
        text-decoration: none;
        text-align: center;
        max-width: 80px;
        max-height: 38px;
        margin-right: 5px;
        margin-top: auto;
        margin-bottom: 5px;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &--left {
            text-align: left;
            align-items: flex-start;
            width: 70%;
        }

        &--right {
            justify-content: space-between;
            align-items: flex-end;
            text-align: right;
            width: 30%;
        }
    }
}

</style>