<template>
  <div class="hero">
    <h1 class="hero-title">{{$t("user.title")}}</h1>
  </div>
</template>

<script>

export default {

}
</script>

<style lang="scss" scoped>

.hero {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    padding: 30px;
    font-family: 'Truculenta';
    font-size: 2rem;
    color: $secondary-color;
  }
}

</style>