<template>
    <div class="repos">
        <div class="user">
            <div>
                <img class="user__pic" :src="user.avatar_url" alt="profile pic">
            </div>
            <div class="user__item user__item--middle">
                <div class="user__header">
                    <h2 class="user__title">{{user.login}}</h2>
                    {{user.followers}}
                    <img class="user__img" src="@/core/assets/icons/followers.svg" alt="followers">
                    <p>{{user.public_repos}} repos</p>
                </div>
                <p>{{user.bio}}</p>
            </div>
            <div class="user__item user__item--right">
                <dropdown data-token="dropdownOrderBy" :placeholder="$t('user.orderBy')" :options="orderOptions" @updateOption="orderReposBy"/>
                <a class="user__link button" :href="user.html_url" target="_blank">
                    <img class="user__img" src="@/core/assets/icons/foreign.svg" alt="copy">
                </a>
            </div>
        </div>
        <hr class="repos__split">
        <div class="repos__body">
            <repo v-for="repo in repos" :key="repo.id" :repo="repo"/>
            <loadingAnimation class="repo-loading" v-if="repos.length == 0"/>
        </div>
    </div>
</template>

<script lang="ts">
import store from '../../../core/store'
import iRepo from '@/core/models/iRepo';
import dropdown from '../../../core/components/Dropdown.vue';
import loadingAnimation from '../../../core/components/LoadingAnimation.vue';
import Vue from 'vue'
import { mapState } from 'vuex'
import repo from '../../../modules/user/components/userRepositories/repo.vue'
import iUser from '@/core/models/iUser';

export default Vue.extend({
    components: {
        repo, dropdown, loadingAnimation
    },

    created(){
        this.$store.dispatch('getSetReposByUsername', this.$route.params.userName)
        this.$store.dispatch('getSetUserByUserName', this.$route.params.userName)
    },

    computed: {
        ...mapState({
            repos: (state:any) => { const repos:iRepo[] = state.userModule.repos; return repos},
            user: (state:any) => { const user:iUser = state.userModule.user; return user},
        }),

        orderOptions() {
            return [
            {
                key: 'Name',
                value: this.$t('user.name'),
            },
            {
                key: 'Stargazers_count',
                value: this.$t('user.stars')
            },
            {
                key: 'Forks_count',
                value: this.$t('user.forks')
            }
        ]
        }
    },

    methods: {
        orderReposBy(item: any){
            this.$store.commit('orderUserModuleStateBy', {key: 'repos', value: item.value.toLowerCase()})
        }
    },

    watch:{
        $route (to, from){
            this.$store.dispatch('getSetReposByUsername', this.$route.params.userName)
            this.$store.dispatch('getSetUserByUserName', this.$route.params.userName)
        }
    },
})
</script>

<style lang="scss" scoped>

.repos {
    padding: 10px;

    &__split {
        background-color: $tertiary-color;
        margin: 20px 0;
        height: 1px;
        border-width: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;

        @media(min-width: 769px){
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

.user {
    display: flex;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    &__title {
        text-transform: capitalize;
        font-weight: bold;
        margin-right: 24px;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            margin: 0 8px 0 4px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        &--middle {
            align-items: flex-start;
            margin-left: 20px;
            width: 50%;
        }

        &--right {
            align-items: flex-end;
            text-align: right;
            margin-left: auto;
        }
    }

    &__pic {
        max-width: 100px;
        border: 1px solid gray;
        border-radius: 1000px;
    }

    &__img {
        max-width: 15px;
        min-width: 15px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        max-height: 38px;
        margin-top: auto;
    }
}

</style>