<template>
  <div id="repo" v-if="commits">
      <div class="repo__info">
        <div>
          <h2 class="repo__name">{{$t('user.repo')}}: {{repo.name}}</h2>
          <h3 class="repo__author">{{$t('user.author')}}: {{repo.owner ? repo.owner.login : null}}</h3>
        </div>
        <div>
          <input class="input" type="text" :placeholder="$t('user.filter')" v-model="filterTermCommits">
        </div>
      </div>
      <commit v-for="commit in filteredCommits(filterTermCommits)" :key="commit.id" :commit="commit"/>
      <loadingAnimation class="repo__loading" v-if="isLoadingAnimationShown && !isNeverShowLoadingAnimation || commits.length == 0"/>
  </div>
</template>

<script lang="ts">
import commit from '@/modules/user/components/userRepository/commit.vue';
import loadingAnimation from '@/core/components/LoadingAnimation.vue';
import iCommit from '@/core/models/iCommit';
import iRepo from '@/core/models/iRepo';
import Vue from 'vue'
import { mapGetters, mapState } from 'vuex';

export default Vue.extend({
  components: {
    commit, loadingAnimation
  },

  data(){
    return {
      timesBottomHitted: 1,
      filterTermCommits: null,
      isLoadingAnimationShown: false,
      isNeverShowLoadingAnimation: false
    }
  },

  created() {
    this.$store.dispatch('getSetRepoByUserAndRepoName', {username: this.$route.params.userName, reponame: this.$route.params.repoName})
    this.$store.commit('setUserModuleState', {key: 'commits', value: []})
    this.$store.dispatch('getSetCommitsByUserRepoAndPage', {username: this.$route.params.userName, reponame: this.$route.params.repoName, page: 1})
  },

  mounted() {
    this.scroll()
  },

  computed: {
    ...mapGetters(['filteredCommits']),

    ...mapState({
        repo: (state:any) => { const repo:iRepo = state.userModule.repo; return repo},
        commits: (state:any) => { const commits:iCommit[] = state.userModule.commits; return commits}
    }),
  },

  methods: {
    scroll(){
      window.onscroll = () => {
        let bottomOfWindow = (window.innerHeight + window.scrollY) >= document.getElementById('repo')?.offsetHeight! + 100

        if (bottomOfWindow) {
          this.timesBottomHitted += 1
          this.isLoadingAnimationShown = true
          this.$store.dispatch('getSetCommitsByUserRepoAndPage', {username: this.$route.params.userName, reponame: this.$route.params.repoName, page: this.timesBottomHitted}).then(response => {
            this.isLoadingAnimationShown = false
            response.length == 0 ? this.isNeverShowLoadingAnimation = true : null
          })
        }
      }
    }
  }
})
</script>

<style lang="scss" scoped>

.repo {
  &__info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 16px;
    padding-left: 10%;
    text-transform: capitalize;

  }

  &__name {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  &__author {
    font-size: 1.2rem;
  }

  &__loading {
    padding: 20px auto;
  }
}

</style>