.button {
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 10px;
    background: none;
    background-color: $primary-color;
    color: white;
}

.input {
    border: 1px solid $tertiary-color;
    border-radius: 3px;
    padding: 10px;
}