$primary-color: #5ac7f2;
$secondary-color: #f77681;
$tertiary-color: rgb(190, 190, 190);

@font-face {
    font-family: "Truculenta";
    src: url("~@/core/assets/fonts/Truculenta_12pt-ExtraLight.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Truculenta";
    src: url("~@/core/assets/fonts/Truculenta_12pt-Light.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Truculenta";
    src: url("~@/core/assets/fonts/Truculenta_12pt-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Truculenta";
    src: url("~@/core/assets/fonts/Truculenta_12pt-Medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Truculenta";
    src: url("~@/core/assets/fonts/Truculenta_12pt-SemiBold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Truculenta";
    src: url("~@/core/assets/fonts/Truculenta_12pt-Bold.ttf") format("truetype");
    font-weight: 600;
}