<template>
  <div id="app">
    <mainbar id="nav"/>
    <router-view/>
  </div>
</template>

<script>
import mainbar from './core/components/Mainbar'
export default {
  components: {
    mainbar
  }
}
</script>

<style lang="scss">

html, body {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba($primary-color, 0.7);
    color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

</style>
