<template>
  <div class="dropdown">
      <select class="dropdown__select" v-bind="$attrs" :name="name" :id="name" v-model="selectedValue" :required="required" :disabled="disabled">
        <option v-if="placeholder" selected value="" hidden>{{ placeholder }}</option>
        <option v-for="option in options" :value="option.key" :key="option.key">{{option.value}}</option>
      </select>
      <img class="dropdown__icon" src="@/core/assets/icons/down-arrow.svg" alt="v"/>
  </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        options: Array,
        optionSelected: {
            Type : Number,
            default : null
        },
        name: String,
        disabled: {
            Type : Boolean,
            default: false
        },
        required: {
            Type : Boolean,
            default: true
        },
        placeholder : String
    },

    data() {
        return {
            selectedValue: ''
        }
    },

    mounted(){
        this.setSelectedValue()
    },

    watch : {
        options(){
            this.optionSelected ? this.selectedValue = this.optionSelected : this.selectedValue = ""
        },

        selectedValue(value){
            this.$emit('updateOption', {name: this.name, value: value})
        },

        optionSelected(){
            this.setSelectedValue()
        }
    },

    methods: {
        setSelectedValue() {
            this.optionSelected ? this.selectedValue = this.optionSelected : null
        }
    }
}
</script>

<style lang="scss">

.dropdown {
    display: flex;
    align-items: center;
    position: relative;

    &__select {
        border: 1px solid #44444444;
        border-radius: 3px;
        z-index: 1;
        cursor: pointer;
        padding: .6em 1.4em .5em .8em;
        min-width: 80px;
        border-radius: 3px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        color: black;
        background-color: transparent;
        padding-right: 30px;

        option {
            color: black;
        }
    }

    &__icon {
        max-width: 16px;
        position: absolute;
        right: 10px;
    }
}


</style>