<template>
    <div>
        {{randomLoadingText}}
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Generate from '../helpers/generate'

export default Vue.extend({
    computed: {
        randomLoadingText() {
            const loadingText = this.$t('loadingText') as String
            return loadingText[Generate.randomNumber(1, loadingText.length)]
        }
    }
})
</script>

<style lang="scss" scoped>
.spinner {
    height: 50px;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
        width: 14px;
        height: 14px;
        background-color: lightgray;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    & .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    & .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
</style>