<template>
    <header>
        <div>
            <vselect url="getSetUsersByUserName" :name="'user_id'" showValue="login" @option:selecting="updateOption"/>
        </div>
        <div>
            <dropdown name="language" :options="languageOptions" placeholder="EN" :optionSelected="0" @updateOption="updateOption"/>
        </div>
    </header>
</template>

<script>
import dropdown from './Dropdown'
import vselect from './VSelect'

export default {
    components: {
        dropdown, vselect
    },

    data(){
        return{
            languageOptions: [
                {
                    key: 'nl',
                    value: 'NL'
                },
                {
                    key: 'en',
                    value: 'EN'
                }
            ]
        }
    },

    methods: {
        updateOption(option){
            if(option.name == 'language')
                this.$i18n.locale = option.value.toLowerCase()

            if(option.name == 'user_id')
                this.$router.push({
                    name: 'user-repos',
                    params: {
                        userName: option.value.login
                    }
                })
        },
    }
}
</script>

<style lang="scss" scoped>

</style>