<template>
    <div>
        <vSelect class="vselect" v-if="options" :value="selected" :placeholder="placeholder" @option:selecting="optionSelect" :label="'item_data'" v-on="{ search: url ? fetchOptions : function(){}}" :options="options" :name="name" :id="name" :required="required" :multiple="false" :disabled="disabled">
            <template #open-indicator="{ attributes }">
                <img v-bind="attributes" role="button" class="vselect__icon" src="@/core/assets/icons/down-arrow.svg" alt="v"/>
            </template>

            <template slot="no-options">
                {{ searchString }}
            </template>
        </vSelect>
    </div>
</template>

<script>
import vSelect from "vue-select";
export default {
    components: {
        vSelect
    },
    props: {
        placeholder: String,
        propOptions: {
            Type: Array,
            default: () => []
        },
        name: String,
        showValue: {
            Type: Array|String,
            default: null
        },
        showValueDropdown: {
            Type: Array|String,
            default: null
        },
        label: String,
        disabled: {
            Type : Boolean,
            default: false
        },
        required: {
            Type : Number,
            default: 0
        },
        pk: {
            Type: String,
            default: 'id'
        },
        url: {
            Type: String,
            default: null
        },
        selectedValue: {
            Type: String,
            default: null
        }
    },

    data(){
        return {
            delay: 500,
            selected: null,
            options: this.propOptions,
            attributes: {
                'ref': 'openIndicator',
                'role': 'presentation',
                'class': 'vs__open-indicator',
            }
        }
    },

    mounted() {
        this.selected = this.selectedValue
    },

    computed: {
        searchString(){
            return this.$t('components.vselect.searchText')
        }
    },

    methods: {
        optionSelect(selectedOption) {
            this.selected = selectedOption.item_data
            this.$emit("option:selecting", {action: 'selecting', name: this.name, value: selectedOption, attr: this.pk});
        },

        async fetchOptions (search, loading) {
            if (this.timeout) clearTimeout(this.timeout)
            this.timeout = setTimeout(async () => {
                if(search.length > 1) {
                loading(true);
                var optionsFetched = await this.$store.dispatch(this.url,search)
                if(Array.isArray(optionsFetched)){
                    optionsFetched.map((item) => {
                    if(Array.isArray(this.showValue)){
                        item.item_data = '';
                        this.showValue.forEach(element => {
                        if (typeof item[element] !== 'undefined'){
                            item.item_data += item[element] + ' '  
                        }
                        });
                    } else {
                        item.item_data = item[this.showValue];
                    }
                    })
                    this.options = optionsFetched
                }
                loading(false);
                }
            },300)
        }
    }
}
</script>

<style src='vue-select/dist/vue-select.css'></style>

<style lang="scss" scoped>

.vselect{
    min-width: 160px;
    color: black;

    &__icon {
        min-width: 16px;
        max-width: 16px;
        right: 10px;
    }
}

</style>